<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <%= link_to "< Pokédex", root_path %>
      <h3 class="my-3">You hear a rustle in the tall grass...A wild Pokémon appears!</h3>
      <%= render 'pokemon', pokemon: @pokemon %>
    </div>
  </div>
</div>
