<div class="card" style="width: 18rem;">
  <%= link_to trainer_path(trainer) do %>
    <!-- <img src="..." class="card-img-top" alt="...">-->
    <%= cl_image_tag trainer.photo.key, class: 'card-img-top' %>
    <div class="card-body">
      <h5 class="card-title"><%= trainer.name %></h5>
      <p class="card-text"><%= trainer.age %> years old</p>
  <!--    <a href="pokemon/" class="btn btn-primary">Go somewhere</a>-->
    </div>
  <% end %>
</div>
