<div class="container mt-3">
  <%= link_to "< Pokédex", root_path %>
  <h1 class="my-4">Let's get Training !</h1>
  <div class="row gap-3 mt-3">
    <% @trainers.each do |trainer| %>
      <%= render 'trainer', trainer: trainer %>
    <% end %>
  </div>
</div>
